.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo-container {
    flex: 0 1 auto; /* Prevents the logo from expanding */
}

.logo {
    height: 100px; /* Increased the height of the logo */
    width: auto; /* Maintains aspect ratio */
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-left: auto; /* Pushes the list items to the right */
}

.nav-item {
    margin: 0 20px; /* Increased space between nav items */
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 30px; /* Increased font size for nav links */
}

.dropdown-toggle {
    background: none;
    border: none;
    font-size: 30px; /* Increased font size for the dropdown toggle */
}
