.project-carousel-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    color: black;
}

.project-carousel-item {
    text-align: center;
    color: rgb(23, 3, 3);
    position: relative;
}

.car-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
}

.car-card:hover {
    transform: scale(1.05);
}

.car-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-top: auto;
}
